html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Eurostile-demi;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

a{
  color: white;
  text-decoration: none;
}

.titre {
    font-size: 70px;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    color: white;
}

.grid-container-2 {
  position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 200px); /* Three columns at 100px each */
  gap: 20px; /* Spacing between the columns */
  /* Calculate total width: (3 * 100px) + (2 * 10px) */
  width: calc(3 * 200px + 2 * 10px);
  margin: 0 auto; /* Centers the container itself */
  justify-content: center; /* Centers the grid columns within the container */
}

/* Grid Item Styling */
.grid-item {
  color: white;
    font-size: 18px;
    text-align: center;
}

@font-face {
    font-family: Eurostile-demi;
    src: url("./assets/fonts/Eurostile-Demi\ Demi.otf") format("opentype");
  }


/* Responsive: Mobile Layout */
@media (max-width: 768px) {

  .grid-container-2 {
      display: grid;
      grid-template-columns: repeat(3, 100px); /* Three columns at 100px each */
      gap: 10px; /* Spacing between the columns */
      /* Calculate total width: (3 * 100px) + (2 * 10px) */
      width: calc(3 * 100px + 2 * 10px);
      margin: 0 auto; /* Centers the container itself */
      align-items: center; /* Centers items horizontally */
  }

  .grid-item {
    color: white;
      min-width: 100%;
      text-align: center;
  }
}